*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monument ;
}
*::selection{
    background: #000;
    color: white;
}
html , body{margin-top: 2vw;
    height: 100%;
    width: 100%;
}

.main{
    position: relative;
    margin-top: -1.5%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.main img{
    height:39vw;
    z-index: 999;
    width: 29vw;
    margin: 5.4vw;
    padding: 2vw;
    object-fit: cover;

}
 .main .img1{
    margin-top: -4vw;
    transform: skew(3.4deg);
}

.main .img2{
    margin-bottom: 0vw;
    transform: skew(-3.4deg);
}










.brands{
    position: absolute;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;   
}
.brands::-webkit-scrollbar{
    display: none ;
}
.brands h1 { 
    display: inline-block;
    font-size: 9vw;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.4vw;
    margin-right: 1.5vw;
}
.b1{
    top: 19%;
    opacity: 0.8;
}
.b1 h1{
    animation-name: toright;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.b2{
    top:40%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: transparent;
    z-index: 1000;
    opacity: 0.6;
}
 .b2 h1{
    animation-name: toleft;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear
 }
.b3{
    top: 60.5%;
    opacity: 0.8;
}
.b3 h1{
    animation-name: toleft;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.mid-text{
    position: absolute;
    top: 0% ;
    right: 2%;
    font-size: 1.7vw;
    text-align: center;
    width: 66%;
    z-index: 1001;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
}

@keyframes toright {
     0%{
        transform: translateX(calc(-100% - 1.6vw));
     }
     100%{
        transform: translateX(0);
     }
}
@keyframes toleft {
    0%{
        transform: translateX(0);
    }
    100%{
      
       transform: translateX(calc(-100% - 1.6vw));
    }
}