*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

.frame span{

display: flex;
align-items: center;
justify-content: baseline;
height: 5vw;
padding: 0vw 5vw;
text-align: center;
font-size: 3vw;
font-weight: 700;
cursor: pointer;
/* background: #db0505; */
/* transform: translateY(-5vw); */
 transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}



.frame{
    height: 5vw;
     overflow: hidden;
     z-index: 20;
    /* background: #f4f008; */
}  


.circle{
    pointer-events: none;
    width: 2vw;
    transform: translate(-50% , -50%);
    position: absolute;
    left: 0;
    top: 0;
    height: 2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    background-color: blueviolet;
    border-radius:50% ;
}

.frames{
    display: flex;
    gap: 40px;
}






/*  linear   interpelation : lerp */
/* /*  clamping   , mapRange */