*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;   
    /* Can download  or link  font from here  https://fonts.google.com/specimen/Montserrat */
}
html , body{
    height: 100%;
    width: 100%;


}

.main_main{
    overflow: hidden;
}

.main{
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
    flex-wrap: nowrap;
}
.innermain{
    height: 100vh;
    width: 100vw;
    display: flex; 
}

.div2{
    border-left: 1px solid white;
    height: 100vh;
    width: 200px;
}

.div2 h1{
    transform: rotate(-90deg);
    position: relative;
    top: 79vh;
    color: azure;
  z-index: 1010;
  font-weight: 600;
  font-size: 110px !important;
  text-transform: uppercase;
}

.image{
    position: absolute;
    height: 250px;
    width: 350px;
    overflow: hidden;
    z-index: -100;
    left: 0;
    top:0;
    background-position: center;
    transform: rotate(2deg);
    background-size: cover;
    transition: height 0.5s , width 0.5s , background-image 0.5s ,transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
