*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html , body{
    height: 100%;
    width: 100%;
}


body::-webkit-scrollbar{
    display: none;
}
.main{
    width: 100%;
    position: relative;
    background: #000;

}

.circle{
    pointer-events: none;
    width: 1.5vw;
    transform: translate(-50% , -50%);
    position: absolute;
    left: 0;
    top: 0;
    height: 1.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    background-color:  rgb(82, 132, 82);
    border-radius:50% ;
    z-index: 99999;
}

.box{
    height: 100vh;
    width: 100%;
    position: relative;
}

.box1{
    height: 110vh;
    width: 100%;
    background: #101010f3;
}

.loder{
position: absolute;
    height: 100vh;
    width: 100%;
    background: #000000;
}


.loder .topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50% , 0);
}
.topheading h5{
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 11px;
}

.loder h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 5vw;
    color: white;
    width: 100%;
    font-weight: 500;
}
.loder h1 .kush{
    font-family: 'Dancing Script', cursive;
    color: rgb(82, 132, 82);
}
.reveal .parent {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;

}

.reveal .parent .child span {
    display: inline-block;
}

.b{
    height: 0vh;
    z-index: 999;
    width: 100%;
    position: absolute;
    bottom:0
}
.box2{
    background-color: rgb(82, 132, 82);
    height: 0%;
    position: absolute;
    bottom: 0%;
}


.box3{
    background: #bababa;
    display: none;
    padding:7px 15px;

}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.home nav{
    width: 100%;
    display: flex;
    padding:13px 15px;
    justify-content: space-between;
}


.home nav a{
    /* width: 10%; */
     text-decoration: none;
     color: #000010;
     font-size: 20px;
     position: relative;
     /* background: #000; */
     cursor: pointer;
}
nav a .line {
    display: inline-block;
    position: absolute;
    height: 1.5px;
    background: #000;
    bottom: 0;
}
nav a .l1{
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
}
nav a .l2{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.185, 0.64, 0.34, 1) 0.9s 0.2s;
}

nav a:hover .l1{
    width: 0;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
    
}

nav a:hover .l2{
    left: 0;
    width: 100%;
    transition: all cubic-bezier(0.185, 0.64, 0.34, 1) 0.9s 0.2s;
}

.cntnt{
    width: 100%;
 height: 58vh;
 margin: 7vw 0 3vw 0;
 display: flex;
 flex-direction: column;
 padding: 0px 30px;
 gap: 2%;
}

.cntnt1{
    width:100%;
    height: 49%;

    display: flex;
    justify-content: space-between;
    
}
.cntnt h1{
    font-family: "montserrat";
    font-size: 12vw;
    font-weight: 400;
    color: #131313e2;
    position: relative;
}

.cntnt1 .para{
    display: flex;
    justify-content: space-between;
    width: 43%;
    padding-top: 4.2vw ;
}
.cntnt1 .para p{
    font-family: "montserrat";
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.2px;
    width: 45%;
    font-weight: 400;
}
.cntnt2{
    width:100%;
    height: 49%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -30px;
    /* background: #000; */
}
.cntnt2 .icon{
    position: absolute;
    bottom: -30%;
    height: 70px;
    width: 70px;
    font-size: 38px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #aeaeae6e;
    color: rgb(46, 144, 46);
    
}
.cntnt2 h1 .visual {
    font-family: 'Dancing Script', cursive;
    font-size: 9vw;
    color: rgb(82, 132, 82);
    margin-right: 50px;
    
}
.cntn2h1{
    position: absolute;
    right: 0;
}

.end{
    font-size: 5vw ;
    margin-left:20px ;
    position: absolute;
    top: 2.4vw;
}